.StatusStyle{
    margin: 10px;
    padding-left: 10px;
    border: 1px solid gray;
    padding: 10px;
    
}
.CommentStyle{
    margin: 10px;
    padding-left: 10px;
    border: 1px solid red;
    padding: 10px;
    border-radius: 100px;
    

}